{% extends 'base.html' %}
{% load static %}
{% block css %}
    <!-- DataTables -->
  <link rel="stylesheet" href="{% static 'adminlte/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}">
  <link rel="stylesheet" href="{% static 'adminlte/plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}">
{% endblock %}
{% block header_title %}{% endblock %}
{% block header_list %}
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item active">厂商管理</li>
            </ol>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
          <div class="row">
            <a class="nav-link" href="#" style="color: rgba(0,0,0,.5)">
                  <i class="fas fa-plus-circle" data-toggle="modal" data-target="#modal-default">添加</i>
            </a>
          <a class="nav-link" href="#" style="color: rgba(255,51,0,0.94)">
                  <i class="fas fa-trash">删除</i>
            </a>
          </div>
      </div>
      <!-- /.card-header -->
      <div class="card-body">
        <table id="company_table" class="table table-bordered table-hover" >

        </table>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="modal-default">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="card card-info">
        <div class="card-header" style="background-color:rgba(0,0,0,.5)">
            <h3 class="card-title">增加SRC</h3>
        </div>
        <div class="card-body">
            <form role="form">
                  {% csrf_token %}
                <div class="card-body">
                  <div class="form-group">
                    <label for="src_name">SRC平台名称</label>
                    <input type="text" class="form-control" id="src_platform_name" placeholder="输入SRC平台名称">
                  </div>
                  <div class="form-group">
                    <label for="sec_url">SRC链接</label>
                    <input type="url" class="form-control" id="src_platform_url" placeholder="输入SRC平台URL">
                  </div>
                </div>
            </form>
        </div>
    </div>
      <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" id="savesrc">保存</button>
      </div>
  </div>
  <!-- /.modal-content -->
</div>
<!-- /.modal-dialog -->
</div>
{% endblock %}
{% block js %}
    <script src="{% static 'adminlte/plugins/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'adminlte/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'adminlte/plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'adminlte/plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>
    <script>
    $(document).ready( function () {
        var data = [
            {% for company in companys %}
            [
                 '{{ forloop.counter }}',
                 '{{ company.src_platform.src_platform_name }}',
                 '{{ company.company_name }}',
                 '{{ company.m_time | date:"Y/m/d (H:m:s)" }}',
                 '<div class="row">\n' +
                 '                            <div class="col-12 col-md-4">\n' +
                 '                                <button type="button" class="btn btn-block btn-default btn-xs"><i class="fas fa-info"></i></button>\n' +
                 '                            </div>\n' +
                 '                              <div class="col-12 col-md-4">\n' +
                 '                                <button type="button" class="btn btn-block btn-primary btn-xs"><i class="fas fa-edit"></i></button>\n' +
                 '                            </div>\n' +
                 '                            <div class="col-12 col-md-4">\n' +
                 '                              <form>\n' +
                 '                                <button type="button" class="btn btn-block btn-danger btn-xs"><i class="fas fa-trash"></i></button>\n' +
                 '                               </form>\n' +
                 '                            </div>\n' +
                 '                          </div>',

            ],
            {% endfor %}
        ]
        $("#company_table").DataTable({
            data:data,
            columns:[
            {title:'序号'},
            {title:'平台'},
            {title:'厂商名称'},

            {title:'更新时间'},
            {title:'操作'},

        ]
    });
    $('#savesrc').click(function () {
        var src_platform_name = $('#src_platform_name').val();
        var src_platform_url = $('#src_platform_url').val();
        var url = '/addsrc/';
        $.ajax(function (data) {

        });
    });

    });


    </script>
{% endblock %}